.navbar {
    display: flex;
    align-items: center;
    min-height: 10vh;
    /* padding: 0 30px; */
    width: 100vw;
    background: linear-gradient(
        to right, 
        transparent 0%, 
        transparent 50%, 
        #94C3D8 50%, 
        #94C3D8 100%
    );
    -webkit-transition: background 300ms linear;
    -ms-transition: background 300ms linear;
    transition: background 300ms linear; }
    .navbar:hover {
        background-position:-50vw; }
        .navbar:not(.uno):hover .logo img {
            content: url("../../img/logo-outline-fff.png"); }
    .navbar .hidden-bg {
        position: absolute;
        width: 100vw;
        min-height: 10vh;
        background: linear-gradient(
            to right, 
            transparent 0%, 
            transparent 50%, 
            #94C3D8 50%, 
            #94C3D8 100%
        );
        right: 0;
        left: 0;
        top: 0;
        /* bottom: 0; */
        z-index: -1; }
    .navbar .left {
        flex: 1;}
    .navbar .right {
        flex: 1;
        display: flex;
        justify-content: right; }
    .navbar.uno {
        background: linear-gradient(
        to right, 
        #4A626C 0%, 
        /* #4A626C 50%, 
        #94C3D8 50%,  */
        #94C3D8 100%
    );
    }
    .navbar.start .hidden-bg {
        /* background: linear-gradient(
        to right, 
        #94C3D8 0%, 
        #94C3D8 50%, 
        #94C3D8 50%, 
        #94C3D8 100%
    ); */
    background-position:50vw;
    transition: background-position 500ms linear;
    }

.logo img {
    width: 22em;
}

.nav-menu {
    display: flex;
    align-items: center; }
    .nav-menu .nav-item {
        cursor: pointer;
        padding: 0 0.75em; }
        .nav-menu .nav-item span {
            color: #FFFFFF;
            font-size: 2.5em; }
        .nav-menu .nav-item img {
            width: 2.25em; }

.navbar .logo.hide {
    opacity: 0;
}
.navbar .logo {
    transition: opacity 500ms ease-in;
}
.navbar .logo:not(.hide) {
    opacity: 1;
}